body {
 margin:0;
 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 color:#212529;
 /*background-color:#fff;*/
 background-color: #FAFAD2;
}
.header-area{
  height: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  background-image: url(sayem.JPG);
  background-size: cover;
  background-blend-mode: darken;
  position: absolute;
}
.header-area:after{
  content: '';
  display: block;
  clear: both;
}
.header-area ul{
  list-style: none;
  color: #fff;
}
.header-area .nav-area .left-nav{
  float: left;
  width: 45%;
}
.header-area .nav-area .left-nav ul li{
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 60px;
  margin-top: -15px;
  font-family: tahoma;
  color:  yellow;
  font-style: italic;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.header-area .nav-area .left-nav ul li:hover{
  cursor: pointer;
  color: #e65f78;
  transition: 1s;
}
.header-area .nav-area .right-nav{
  width: 55%;
  display: block;
  overflow: hidden;
}
.header-area .nav-area .right-nav ul li#home{
  color: #E65F78;
  font-weight: bold;
}
.header-area .nav-area .right-nav ul li:hover{
  color: #E65F78;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
}
.header-area ul li{
  float: left;
  font-size: 21px;
  display: block;
  padding: 5px 19px;
}
.header-area .about-me{
  width: 780px;
  display: block;
  float: none;
  margin: 0 auto;
  position: relative;
  top: 170px;
}
.header-area .about-me:after{
  content: '';
  display: block;
  clear: both;
}
.header-area .about-me p{
  color: #FFFFFF;
  font-size: 27px;
  position: relative;
  margin: 0 auto;
  padding: 15px;
  width: 40%;
}
 .header-area .about-me h1{
   font-size: 45px;
   color: olive;
   text-transform: uppercase;
 }
 .header-area .about-me p#about-text{
   color: rgba(255, 255, 255, 0.75) !important;
   font-size: 15px;
   padding: 15px;
   width: 55%;
 }
 .header-area .about-me a{
   color: #FFFFFF;
   font-size: 25px;
   position: relative;
   margin: 0 auto;
   top: 50px;
   padding: 15px 28px;
   font-family: Helvetica;
   text-decoration: none;
   margin-left: 32%;
   border: 2px solid #fff;
   border-radius: 50px;
 }
  .header-area .about-me a:hover{
    background: #fff;
    color: #000000;
    transition: 1s;
  }
 .header-area .about-me h1{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFFFFF; }
}
/* Section Area CSS */
.section-area{
  width: 100%;
  height: 70%;
  float: none;
  background: #FAFAD2;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.section-area .section-image{
  background-image: url(saki.jpg);
  background-color: rgba(0, 0, 0, 0.69);
  background-size: cover;
  height: 900px;
  width: 550px;
  float: left;
  border: 5px solid coral;
  border-radius: 20px;
  padding: 5px;
  margin-left: 50px;
}
.section-area .section-text{

 padding-left: 40px;
 width: 51%;
 float: left;
 display: block;
 margin-top: -25px;
}
.section-area .section-text h3{
  font-size: 40px;
}
.section-area .section-text p{
  font-size: 28px;
}
.section-area .section-text p span#section-name-text{
  color: #e65f78;
}
.section-area .section-text div#sha{
  font-size: 35px;
  font-style: italic;
  font-family: Impact, Charcoal, sans-serif;
}
.section-area .section-text p#more-about-text{
  font-size: 14px;
  color: #6c757d;
}
.section-area .section-text .social-icon{
  word-spacing: 15px;
  float: left;
}
.section-area .section-text .social-icon a i{
  /*color: #3b5998;*/
  font-size: 40px;
  padding: 30px 60px;
  border: 3px solid #eaeaea;
  border-radius: 50%;
  
}

.section-area .section-text .social-icon a i:hover{
  color: #e65f78;
  border: 3px solid #e65f78;
  transition: 1s;
}

#sh
{
	color: #3b5998;
}
#shm
{
	color:   #3f729b;
}
#ssd
{
	color: #006192;
}
#mmr
{
	color: #211F1F;
}
#mmd
{
	color: #38A1F3;
}

a:link, a:visited
		{
			text-decoration: none;
			font-weight: bold;
			color: 	purple;
		}

    a:hover {
       color:  #483C32;
    }

 #saki
 {
 	font-size: 23px;
 }
 #say
 {
 	font-size: 20px;
 }
 #mm
 {
 	font-size: 20px;
 	color: maroon;
 }
#ss
{
	color: blue;
}

#su
{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: the new roman;
	text-align: center;

}

/* For Mobile View*/
@media(max-width: 991px)
{
  body {
 margin:0;
 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 font-size:1rem;
 font-weight:600;
 line-height:1.5;
 color:#212529;
 background-color:#FAFAD2;
}
.header-area{
  height: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  background-image: url(Capture.jpg);
  background-size: cover;
  background-blend-mode: darken;
  position: absolute;
}
.header-area:after{
  content: '';
  display: block;
  clear: both;
}
.header-area ul{
  list-style: none;
  color: #fff;
}
.header-area .nav-area .left-nav{
  float: left;
  width: 45%;
}
.header-area .nav-area .left-nav ul li{

  font-size: 50px;
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: -15px;
  font-family: tahoma;
  color:  yellow;
  font-style: italic;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.header-area .nav-area .left-nav ul li:hover{
  cursor: pointer;
  color: #e65f78;
  transition: 1s;
}
.header-area .nav-area .right-nav{
  width: 55%;
  display: block;
  overflow: hidden;
}
.header-area .nav-area .right-nav ul li#home{
  color: #E65F78;
  font-weight: bold;
}
.header-area .nav-area .right-nav ul li:hover{
  color: #E65F78;
  transition: .5s;
  cursor: pointer;
}
.header-area ul li{
  float: left;
  font-size: 25px;
  display: block;
  padding: 2.5px 9.5px;
}
.header-area .about-me{
  width: 585px;
  display: block;
  float: none;
  margin: 0 auto;
  position: relative;
  top: 170px;
}
.header-area .about-me:after{
  content: '';
  display: block;
  clear: both;
}
.header-area .about-me p{
  color: #FFFFFF;
  font-size: 27px;
  position: relative;
  margin: 0 auto;
  padding: 15px;
  width: 40%;
}
 .header-area .about-me h1{
   font-size: 35px;
   color: olive;
   text-transform: uppercase;
 }
 .header-area .about-me p#about-text{
   color: rgba(255, 255, 255, 0.75) !important;
   font-size: 15px;
   padding: 15px;
   width: 55%;
 }
 .header-area .about-me a{
   color: #FFFFFF;
   font-size: 25px;
   position: relative;
   margin: 0 auto;
   top: 50px;
   padding: 30px 56px;
   font-family: Helvetica;
   text-decoration: none;
   margin-left: 32%;
   border: 2px solid #fff;
   border-radius: 50px;
 }
  .header-area .about-me a:hover{
    background: #fff;
    color: #000000;
    transition: 1s;
  }
 .header-area .about-me h1{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFFFFF; }
}
/* Section Area CSS */
.section-area{
  width: 100%;
  height: 70%;
  float: none;
  background: #FAFAD2;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.section-area .section-image{
  background-image: url(nnn.JPG);
  background-color: rgba(0, 0, 0, 0.69);
  background-size: cover;
  height: 650px;
  width: 855px;
  float: center;
  border: 5px coral #dee2e6;
  border-radius: 20px;
  padding: 5px;
  margin-left: 50px;
  /*float: auto;*/
}
.section-area .section-text{

 padding-left: 50px;
 width: 90%;
 float: left;
 display: block;
 margin-top: -25px;
}
.section-area .section-text h3{
  margin-top: 80px;
  font-size: 50px;
}
.section-area .section-text p{
  font-size: 40px;
}
.section-area .section-text p span#section-name-text{
  color: #e65f78;
}
.section-area .section-text div#sha{
  font-size: 40px;
  font-style: italic;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 35px;
}
.section-area .section-text p#more-about-text{
  font-size: 27px;
  color: #6c757d;
}
.section-area .section-text .social-icon{
  word-spacing: 15px;
}
.section-area .section-text .social-icon a i{
  font-size: 70px;
  padding: 60px 60px;
  border: 3px solid #eaeaea;
  border-radius: 100%;
}
.section-area .section-text .social-icon a i:hover{
  color: #e65f78;
  border: 2px solid #e65f78;
  transition: 1s;
}

#sh
{
	color: #3b5998;
}
#shm
{
	color:   #3f729b;
}
#ssd
{
	color: #006192;
}
#mmr
{
	color: #211F1F;
}
#mmd
{
	color: #38A1F3;
}
 a:visited
		{
			text-decoration: none;
			font-weight: bold;
			color: 	purple;

		}
   
      a:hover {
       color:   #483C32;
    }


#mehedi
{
  font-size: 25px;
}


 #saki
 {
 	font-size: 40px;
 }
 #say
 {
 	font-size: 35px;
 }
 #mm
 {
 	font-size: 35px;
 	color: maroon;
 }
#ss
{
	color: blue;
}

#su
{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: the new roman;
	text-align: center;

}
}
